[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "/Users/gavingrace-lendingloop/.vim/bundle/airline"]
	path = /Users/gavingrace-lendingloop/.vim/bundle/airline
	url = https://github.com/vim-airline/vim-airline
[submodule "/Users/gavingrace-lendingloop/.vim/bundle/gitgutter"]
	path = /Users/gavingrace-lendingloop/.vim/bundle/gitgutter
	url = git://github.com/airblade/vim-gitgutter.git
[submodule "/Users/gavingrace-lendingloop/.vim/bundle/nerdtree-git-plugin"]
	path = /Users/gavingrace-lendingloop/.vim/bundle/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin.git
[submodule "/Users/gavingrace-lendingloop/.vim/bundle/matchit"]
	path = /Users/gavingrace-lendingloop/.vim/bundle/matchit
	url = https://github.com/vimtaku/hl_matchit.vim.git
